.main__title
  display: block
  text-align: center
  font-size: 40px
  margin: 20px 0

.month
  &-wrapp
    display: flex
    align-items: center
    margin-bottom: 10px

  &__input
    border: none
    border-bottom: 2px solid grey
    color: #626262
    font-size: 26px
    text-align: center
    font-family: 'Roboto', sans-serif
    outline: none

.income
  &__title
    margin-right: 30px
  &__sum
    display: flex
    align-items: center
  &__input
    margin-right: 20px
    padding: 10px
    font-size: 24px
    outline: none
    background-color: #ABD15B
    border: none
    border-radius: 10px
    width: 200px
    color: #fff
    letter-spacing: 1.2px
    text-align: center

.expenses
  &__title
    margin-right: 20px
  &__wrapp
    max-width: 500px
    min-height: 500px
.bank
  display: flex
  justify-content: space-between
  max-width: 500px
  align-items: center
  &__sum
    padding: 15px
    width: 200px
    background-color: #abd15b
    color: #fff
    border-radius: 20px
    text-align: center
  &__title
    margin-right: 20px

.result__block
  display: flex
  justify-content: space-between
