.main__title {
  display: block;
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.month-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.month__input {
  border: none;
  border-bottom: 2px solid grey;
  color: #626262;
  font-size: 26px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.income__title {
  margin-right: 30px;
}
.income__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.income__input {
  border: none;
  border-bottom: 2px solid grey;
  padding: 10px;
  font-size: 24px;
  outline: none;
  width: 150px;
}
.income__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #dce5e9;
}
.income__input::-moz-placeholder {
  font-size: 14px;
  color: #dce5e9;
}
.income__input:-ms-input-placeholder {
  font-size: 14px;
  color: #dce5e9;
}
.income__input::-ms-input-placeholder {
  font-size: 14px;
  color: #dce5e9;
}
.income__input::placeholder {
  font-size: 14px;
  color: #dce5e9;
}
.income__total {
  padding: 10px;
  font-size: 24px;
  background-color: #ABD15B;
  border-radius: 10px;
  width: 200px;
  color: #fff;
  letter-spacing: 1.2px;
  text-align: center;
  min-height: 40px;
}

.expenses {
  position: relative;
}
.expenses__title {
  margin-right: 20px;
}
.expenses__wrapp {
  max-width: 500px;
  min-height: 500px;
}
.expenses__add {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  color: #2686DF;
}
.expenses__modal {
  background-color: #fff;
  border: 2px solid #141414;
  border-radius: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px 20px;
  height: 200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5%;
}
.expenses__modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.expenses__modal__label {
  font-size: 18px;
}
.expenses__modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bank__sum {
  padding: 15px;
  width: 200px;
  background-color: #abd15b;
  color: #fff;
  border-radius: 20px;
  text-align: center;
}
.bank__title {
  margin-right: 20px;
}
.bank__icon {
  margin-right: 10px;
}

.result__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}/*# sourceMappingURL=main.css.map */